<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
</head>
<body>
    <form action="/admin/add-product" method="POST">
        <h1>Welcome to Add Product Page!</h1>
        <br>
        <br>
        <label>Product Title:
        <input name="title" type="text" required /></label>
        <br>
        <label>Product Size:
        <input name="size" type="text" required /></label>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>